div{
    background-color: rgb(0, 255, 145);
    color: white;
    text-align: center;
    padding: 20px;
    width: 50%;
    margin: auto;
}
body{
    background-image: url(image/mailchimp-lAx4E6Gl06s-unsplash.jpg);
    background-size: cover;
    /* background-position: center; */
}